<!DOCTYPE html>
<html>
<head>
    <title>Restaurant Availabilities</title>
    <script src="source.js"></script>
    <script src="restaurants.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

<select v-model="selected">
    <option disabled value="">Select a day</option>
    <option>Sunday</option>
    <option>Monday</option>
    <option>Tuesday</option>
    <option>Wednesday</option>
    <option>Thursday</option>
    <option>Friday</option>
    <option>Saturday</option>
</select>
<span>Selected: {{ selected }}</span>

<h1>Available Restaurants</h1>

<div id="restaurants">
    <p v-for="r in restaurantList">{{ r.text }}</p>
</div>

</body>
</html>